.container {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  align-items: flex-end;
  background-color: #fc6404;
  color: white;
  padding: 5px;
}

.nav-item {
  width: 13vw;
}
.nav-details {
  flex-grow: 1;
  margin-left: 15px;
}

.news-list-item {
  display: flex;
  align-items: center;
  padding: 8px;
}

.news-list-item:nth-child(even) {
  background-color: #e5e5de;
}

.comment,
.vote-count,
.upvotes {
  text-align: center;
  flex-basis: 65rem;
  min-width: 65rem;
  overflow-wrap: break-word;
}
.news-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.paging-footer {
  position: relative;
}
.paging-item {
  position: absolute;
  right: 10rem;
  padding: 10rem;
}
.paging {
  color: #fc6404;
  font-weight: 600;
}
.arrow-up {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(105, 104, 104, 0.644);
}

.news-person,
.news-hide {
  margin-left: 5px;
}

.news-title {
  font-size: 14rem;
  font-weight: 600;
}

@media (min-width: 800px) {
  .news-details {
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: row;
  }
  .news-details-item {
    margin-left: 5px;
  }
}
